<div class="row">
  <div class="col-2">&nbsp;</div>
  <div class="col-8">
    <table class="table table-bordered">
      <thead>
          <th>ID</th>
          <th>Name</th>
          <th>Ph</th>
          <th>Email</th>
          <th>Pswrd</th>
          <th>Time</th>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees;  let i = index">
          <td>{{ i+1 }}</td>
          <td>{{employee.name}}</td>
          <td>{{employee.phone}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.password}}</td>
          <td>{{ ( now.getTime() - employee.updated) /1000 /60 | round }} minutes ago</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-2">&nbsp;</div>
</div>
  
  
